<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>8QYNB4U6BR.com.trifonov.MovieLentaUITests.xctrunner</string>
	<key>com.apple.security.get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>8QYNB4U6BR.com.trifonov.MovieLentaUITests.xctrunner</string>
	</array>
</dict>
</plist>
